In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
cursos_C = pd.read_csv('Coursera_courses.csv')
reviews_C = pd.read_csv('Coursera_reviews.csv')
cursos_edx = pd.read_csv('edx_courses.csv')
cursos_U = pd.read_csv('udemy_courses.csv')

In [3]:
cursos_C.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         623 non-null    object
 1   institution  623 non-null    object
 2   course_url   623 non-null    object
 3   course_id    623 non-null    object
dtypes: object(4)
memory usage: 19.6+ KB

In [4]:
cursos_edx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 975 entries, 0 to 974
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               975 non-null    object
 1   summary             922 non-null    object
 2   n_enrolled          855 non-null    object
 3   course_type         975 non-null    object
 4   institution         975 non-null    object
 5   instructors         972 non-null    object
 6   Level               975 non-null    object
 7   subject             975 non-null    object
 8   language            975 non-null    object
 9   subtitles           972 non-null    object
 10  course_effort       975 non-null    object
 11  course_length       975 non-null    object
 12  price               975 non-null    object
 13  course_description  935 non-null    object
 14  course_syllabus     417 non-null    object
 15  course_url          975 non-null    object
dtypes: object(16)
memory usage: 122.0+ KB

In [5]:
cursos_U.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 0 to 3677
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3678 non-null   int64
 1   course_title         3678 non-null   object
 2   url                  3678 non-null   object
 3   is_paid              3678 non-null   bool
 4   price                3678 non-null   int64
 5   num_subscribers      3678 non-null   int64
 6   num_reviews          3678 non-null   int64
 7   num_lectures         3678 non-null   int64
 8   level                3678 non-null   object
 9   content_duration     3678 non-null   float64
 10  published_timestamp  3678 non-null   object
 11  subject              3678 non-null   object
dtypes: bool(1), float64(1), int64(5), object(5)
memory usage: 319.8+ KB

In [4]:
reviews_C.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1454711 entries, 0 to 1454710
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   reviews       1454571 non-null  object
 1   reviewers     1454711 non-null  object
 2   date_reviews  1454711 non-null  object
 3   rating        1454711 non-null  int64
 4   course_id     1454711 non-null  object
dtypes: int64(1), object(4)
memory usage: 55.5+ MB

In [22]:
#Cursos edx - Modificar texto para ponerlo en formato numerico quitando las comas
cursos_edx['n_enrolled'].replace({',':''}, regex= True, inplace= True)

In [23]:
#Cursos edx - Cambiar el tipo de variable de las columna a numerico
cursos_edx['n_enrolled'] = cursos_edx['n_enrolled'][cursos_edx['n_enrolled'].notna()].astype(str).astype(int)

In [ ]:
# Cursos edx - Llenar valores faltantes con la media de la columna
cursos_edx['n_enrolled'][cursos_edx['n_enrolled'].isna()] = cursos_edx['n_enrolled'].median()

In [25]:
cursos_edx.to_csv('cursos_edx.csv', index= False)

In [ ]:
#Formato de columna de fecha incorrecto
reviews_C['date_reviews']

In [9]:
#Cambiar el formato de fecha
reviews_C['date_reviews'] = pd.to_datetime(reviews_C['date_reviews'])

In [5]:
# Quitar ',' para evitar errores a la hora de cargar el csv en otros programas
reviews_C['reviews'].replace({',':''}, regex= True, inplace= True)

In [6]:
#Exportar cambios a csv
reviews_C.to_csv('Coursera_reviews.csv',index= False)